body {
  margin: 0;
  font: 10pt Arial, sans-serif;
  min-width: 780px;
  background: #fff;
  color: #000;
}
.clWall{
  width:100%; 
  height:1px; 
  clear:both;"
}
.menuViews {
    padding: 20px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
    margin-right: 0px;
    width: 200px;
    height: 400px;
    top: 50px;
    position: absolute;
    border: 1px solid #000000;
    }

   .flCanv {
    padding: 20px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
    margin-left: 0px;
    width: 400px;
    height: 400px;
    top: 50px;
    left: 251px;
    position: absolute;
    border: 1px solid #000000;
   }

.tooltip {
      position: fixed;
      padding: 10px 20px;
      /* красивости... */

      border: 1px solid #b3c9ce;
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    }

    .morph-shape {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: #5f656f;
	stroke-width: 5px;
}